<ion-content>
  <form>
    <ion-card class="ion-padding">
      <div class="container-img">
        <img src="https://picsum.photos/200" />
      </div>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" class="ion-margin-bottom">Login</ion-button>

      <ion-button color="dark" expand="full">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        <ion-label>Login com Google</ion-label>
      </ion-button>
    </ion-card>
  </form>
</ion-content>
