form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-card {
    width: 60%;
    .container-img-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        max-width: 50%;
        margin: 0 auto;
    }
}

.buttons-page-login {
    width: 55%;
    margin: 0 auto;
}

.label-login {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--ion-color-warning-contrast);
    font-weight: bold;
    padding: 10px 0;
}

@media (max-width: 768px) {
    ion-card {
        width: 100%;
    }
    .buttons-page-login {
        width: 100%;
    }
}